{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Reglas Generales
{% endblock %}

{% block content %}

<ul>
    <li>Bienvenido al Laboratorio de Economía Experimental de la Universidad del Pacífico. 
        Gracias por participar en este estudio.</li>
    <li>La sesión dura entre 1 hora con treinta minutos y y 2 horas con treinta minutos.</li>
    <li>Antes de iniciar la sesión, recuerda que si te <b>retiras</b> a la mitad de la sesión, 
        todas las personas de tu <b>grupo</b> de interacción <b>no</b> podrán <b>continuar</b>. 
        En ese caso, no recibirás pago y serás retirado indefinidamente de la base de datos para 
        cualquier experimento futuro.</li>
    <li>Debes realizar este <b>experimento</b> desde una <b>laptop o computadora de escritorio</b>. 
        Serás <b>excluido</b> si lo realizas desde un <b>celular/tablet</b>. El programa puede detectar 
        si intentas conectarte desde tu dispositivo móvil.</li>
    <li>Si ocurre algún <b>error</b> (por ej. Aparece en pantalla el mensaje "Application Error"), debes <b>actualizar</b> la
        página <b>inmediatamente</b> y comunicarte con nosotros por WhatsApp (<a href="https://wa.me/0051985730063" target="_blank">+51 985 730 063</a>). 
        En caso cierres la pestaña o la dejes abierta con el error, perjudicarás al resto de participantes. 
        <b>Si</b> el error <b>persiste y no</b> te <b>comunicas</b> con nosotros lo más <b>pronto</b> posible, no 
        podremos hacerte el pago correspondiente y procederemos a suspenderte temporalmente.</li>
    <li>Para cualquier consulta o reporte de error, envíanos un mensaje por <b>WhatsApp</b> al número
        <a href="https://wa.me/0051985730063" target="_blank">+51 985 730 063</a></li>
    <li>No será necesario usar cámara o micrófono para este experimento.</li>
    <li>Recibirás una compensación en dinero por participar y otro monto que dependerá de las decisiones que tú
        y los demás participantes tomen.</li>
</ul>
    {% next_button %}

<br>
{% include Constants.contact_template %}
{% endblock %}
