{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Reglas Generales
{% endblock %}

{% block content %}

<ul>
    <li>La sesión dura entre <b>1 hora con treinta minutos y 2 horas con treinta minutos</b>. Antes de iniciar tu sesión, ingresando tu
        código/etiqueta de participante, recuerda que <b>si inicias</b> la sesión y te <b>retiras a la mitad</b>, todas las
        personas de tu <b>grupo</b> de interacción <b>no</b> podrán <b>continuar</b>. En ese caso, no recibirás pago y serás
        <b>suspendido indefinidamente</b> de la base de datos para cualquier tipo de experimento.</li>
    <li>Debes realizar este <b>experimento</b> desde una <b>laptop o computadora</b>. Serás <b>excluido</b> si lo
        realizas desde un <b>celular/tablet</b>. El programa puede detectar si intentas conectarte desde tu
        dispositivo móvil.</li>
    <li>Si ocurre algún <b>error</b> (por ej. Aparece en pantalla el mensaje "Application Error"), <b>actualizar</b> la
        página <b>inmediatamente</b>. En caso cierres la pestaña o la dejes abierta con el error, perjudicarás al resto
        de tus compañeros. <b>Si</b> el error <b>persiste y no</b> te <b>comunicas</b> con nosotros lo más <b>pronto</b>
        posible, procederemos a <b>bloquearte</b> de la <b>base</b> de datos <b>sin</b> derecho a <b>pago</b> por el
        experimento debido a los problemas ocasionados a los demás.</li>
    <li>Cualquier consulta o si persiste algún error, enviar un correo a esta dirección: e2lab@up.edu.pe o
        número <b>WhatsApp</b> <a href="https://wa.me/0051985730063" target="_blank">+51 985 730 063</a></li>
    <li>No será necesario usar cámara o micrófono.</li>
    <li>Recibirás una compensación en dinero por participar y otro monto que dependerá de las decisiones que tú
        y los demás participantes tomen.</li>
</ul>
    {% next_button %}

<br>
{% include Constants.contact_template %}
{% endblock %}
